.nameLabel{
	-fx-font-size: 65pt;
	-fx-font-weight: bold;
	-fx-text-fill: #00a5f0;
	-fx-background-color: #222;
	-fx-min-width: 1400px;
	-fx-min-height: 100px;
	-fx-border-radius: 10 10 10 10;
  	-fx-background-radius: 10 10 10 10;
}
.root{
	-fx-background-color: #555;
}
.button{
	-fx-font-size: 15pt;
	-fx-font-weight: bold;
	-fx-background-color: #00a5f0;
	-fx-text-fill: #000;
	-fx-padding: 15px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-min-height: 70px;
    -fx-min-width: 150px;
    -fx-border-radius: 10 10 10 10;
  	-fx-background-radius: 10 10 10 10;
  	-fx-cursor: hand;
}
.gameStats{
	-fx-font-size: 14pt;
	-fx-font-weight: bold;
	-fx-text-fill: #000;
	-fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-min-height: 70px;
    -fx-min-width: 150px;
    -fx-background-color: #00a5f0;
}
.instructions{
	-fx-font-size: 40pt;
	-fx-font-weight: bold;
	-fx-text-fill: #fff;
	-fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-min-height: 70px;
    -fx-min-width: 150px;
}
.sideBar{
	-fx-background-color: #444;
    -fx-min-width: 250px;
}
.nav{
	-fx-background-color: #333;
	-fx-min-height: 120px;
	-fx-min-width: 1400px;
	-fx-border-radius: 10 10 0 0;
  	-fx-background-radius: 10 10 0 0;
}
