.nameLabel{
	-fx-font-size: 65pt;
	-fx-font-weight: bold;
	-fx-text-fill: #00a5f0;
	-fx-background-color: #222;
	-fx-min-width: 1400px;
	-fx-min-height: 100px;
	-fx-border-radius: 10 10 10 10;
  	-fx-background-radius: 10 10 10 10;
}
.root{
	-fx-background-color: #555;
}
.sudokuBoard{
	-fx-font-size: 20pt;
	-fx-background-color: #ddd;
}
.userList {
	-fx-background-color: #555;
}
.button{
	-fx-font-size: 15pt;
	-fx-font-weight: bold;
	-fx-background-color: #00a5f0;
	-fx-text-fill: #000;
	-fx-padding: 15px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-min-height: 70px;
    -fx-min-width: 150px;
    -fx-border-radius: 10 10 10 10;
  	-fx-background-radius: 10 10 10 10;
  	-fx-cursor: hand;
}
.button:pressed{
        -fx-scale-y: 0.7;
        -fx-scale-x: 0.7;
}
.button:hover {
        -fx-background-color: #0072d0;
        -fx-scale-y: 1.1;
}
.gameStats{
	-fx-font-size: 14pt;
	-fx-font-weight: bold;
	-fx-text-fill: #000;
	-fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-min-height: 35px;
    -fx-min-width: 200px;
    -fx-background-color: #00a5f0;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
}
.instructions{
	-fx-font-size: 30pt;
	-fx-font-weight: bold;
	-fx-text-fill: #fff;
	-fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-min-height: 70px;
    -fx-min-width: 150px;
}
.sideBar{
	-fx-background-color: #444;
    -fx-min-width: 250px;
}
.nav{
	-fx-background-color: #333;
	-fx-min-height: 120px;
	-fx-min-width: 1400px;
	-fx-border-radius: 10 10 0 0;
  	-fx-background-radius: 10 10 0 0;
}

/* MineSweeper CSS */
.cell {
	-fx-background-color: darkgray;
	-fx-border-width: 1px;
	-fx-border-color: black;
	-fx-min-width: 40px;
	-fx-min-height: 40px;
	-fx-margin: 0px;
	-fx-padding: 0px;
}

.cell:pressed {
	-fx-scale-x: 1;
	-fx-scale-y: 1;
}

.cell:revealed {
	-fx-background-color: lightgray;
}

.mineField {
	-fx-padding: 5px;
	-fx-background-color: #00a5f0;
	-fx-border-width: 1px;
	-fx-border-color: black;
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
}

.mineSweeperLabel {
	-fx-background-color: #00a5f0;
	-fx-font-weight: bold;
	-fx-min-height: 30px;
	-fx-padding: 5px;
	-fx-border-width: 1px;
	-fx-border-color: black;
	-fx-border-radius: 5px 5px 0px 0px;
	-fx-background-radius: 5px;
}

/* UserView CSS */
.highScoreLabelTop{
	-fx-text-alignment: center;
	-fx-font-size: 12pt;
	-fx-font-weight: bold;
	-fx-text-fill: #222;
	-fx-background-color: #00a5f0;
	-fx-min-width: 250px;
	-fx-max-width: 250px;
	-fx-min-height: 25px;
	-fx-max-height: 25px;
	-fx-border-color: #222;
	-fx-border-radius: 10 10 0 0;
  	-fx-background-radius: 10 10 0 0;
}

.highScoreLabelMid{
	-fx-text-alignment: center;
	-fx-font-size: 12pt;
	-fx-text-fill: #222;
	-fx-background-color: #00a5f0;
	-fx-min-width: 250px;
	-fx-max-width: 250px;
	-fx-min-height: 25px;
	-fx-max-height: 25px;
	-fx-border-color: #222;
	-fx-border-radius: 0 0 0 0;
  	-fx-background-radius: 0 0 0 0;
}

.highScoreLabelBottom{
	-fx-text-alignment: center;
	-fx-font-size: 12pt;
	-fx-text-fill: #222;
	-fx-background-color: #00a5f0;
	-fx-min-width: 250px;
	-fx-max-width: 250px;
	-fx-min-height: 25px;
	-fx-max-height: 25px;
	-fx-border-color: #222;
	-fx-border-radius: 0 0 10 10;
  	-fx-background-radius: 0 0 10 10;
}
